.common-heading {
  font-size: 32px;
  margin: 5px 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.middle-heading {
  font-size: 18px;
  margin: 5px 0;
}
